html {
  height: 100%;
}
body {
   width: 800px;
   height: 100%;
}

header {
    background-color: green;
    padding: 5px;
    font-size: ;
    display: block;
}
nav {
    float: left;
}
nav ul {
    padding: ;
    float: left;
    border-bottom: ;
    list-style-type: none;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    height: 35px;
    padding: 18px 18px 12px 12px;
    vertical-align: middle;
    background-color: blue;
}
a {
    color: ;
}
section {
    width: 73%;
    display: inline-block;
    float: left;
    background-color: blue;
    padding: 18px 18px 12px 12px
}
aside {
    width: 17%;
    display: inline-block;
    background-color:;
    padding:;
    min-height: 100%;
}
aside ul {
    list-style-type: none;
}
footer {
    width: 790px;
    background-color:;
    color:;
    clear: both;
    display: block;
}
